*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,body {
    min-height: 100vh;    
}

#canvas, #canvas-above{
    border: 1px solid #999;
    margin: 1rem auto;
    display: block;    
}

img{
    width: 80%;
}