@import url('https//fonts.googleapis.com/css?family=Allerta+Stencil');

html,body {
    min-height: 100vh;    
}        

#canvas{
    border: 1px solid #999;
    margin: 1rem auto;
    display: block;
}
p{
    margin: 1rem auto;
    text-align: center;
}
input{
    width: 600px;
    font-size: 2rem;
    padding: 0.2rem 1rem;
    box-sizing: border-box;
}